body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Monaco, monospace;;
    background-color: gray;
}

#container {
    width: 80%;
    height: 150vh;
    padding-top: 35px;
    display: flex;
    flex: column;
}

#main-content {
    width: 70%; 
    background-color: black;
    margin-left: 425px;
    padding-left: 40px;
    padding-top: 30px;
    display: flex;
}

#header {
    display: flex;
    width: 33%;
    height: 30%;
    color: white;
    padding-left: 28px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#header>hr {
    width: 250px;
}

#avatar { 
    width: 260px;
    height: 250px;
    display: flex;
    border-radius: 50%; 
    object-fit: cover;
    border: 5px solid white;
}

#container {
    width: 80%;
    height: 150vh;
    display: flex;
    flex: column;
}

#info {
    background-color: white;
    width: 90%; 
    float: right;
    height: 97%;
    display: flex;
    flex-direction: column;
}

#trabalhos {
    background-color: black;
    height: 50px;
    width: 445px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 143px;
    justify-content: center;
}

#experiences {
    width: 65%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    align-items: center;
    justify-content: center;
}

#footer {
    padding: 20px;
    display: flex;
    justify-content: center;
}


.maleta {
    width: 34px; 
    height: 38px;
    padding-top: 7px;
    padding-left: 15px;
}

.exp {
    color: black;
    padding-left: 25px;
    display: flex;
    color: white;
    justify-content: center;
    padding-right: 15px;
}